################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/obj/Debug
/Lab1/bin/Debug
/.vs
